@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700;800&display=swap');


* {
  font-family: 'JetBrains Mono';
}

.container {
  max-width: 500px;
  background-color:#27272a;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ffa3f4;
  border-radius: 5px;
  text-align:center;
}

label {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  color:white;
}

input,
button {
  margin-bottom: 20px;
}

input {
  border: 1px solid #ffa3f4;
  font-size: 18px;
  text-align:center;
  padding: 5px;
}

button {
  background-color: #ffa3f4;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
}

button:hover {
  background-color: #ec66e1;
}


p {
  font-size: 16px;
  color:white;
}

h2 {
  color:white;
}

h1 {
  text-decoration: #ffa3f4 underline;
  color:white;
  letter-spacing: 1px;
}

hr.better {
  border-top: 2px solid #ffa3f4;
}

